body{
    background-color: #424242;
    color: white;
}

#clock{
    text-align: center;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 20%;
    left: 30%;
}

#clock h2{
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
}

.clock-container{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    align-content: center;
}

.clock-items{
    width: 32%;
    background-color: white;
    color: #000;
    border-radius: 10px;
    margin-right: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#date{
    font-size: 20px;
    color: rgb(255, 217, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}